In [1]:
# importar o modulo de conexão a banco de dados SQLITE
import sqlite3

In [2]:
# Criar conexão com o banco de dados SQLite
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [3]:
# Criar tabela no banco de dados StuffToPlot
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS stuffToPlot (unix REAL, datestamp TEXT, keyword TEXT, value REAL)')

In [4]:
# Inserir dados em tabela no banco de dados StuffToPlot
def data_entry():
    c.execute("INSERT INTO stuffToPlot VALUES(185946, '2016-012-10', 'Python', 20)")
    conn.commit()
    #c.close()
    #conn.close()

In [5]:
# Executa as funções criadas para a criação da tabela e inserir dados.
create_table()
data_entry()

In [6]:
# Realizar o commit para o banco de dados.
conn.commit()

In [7]:
# Consulta de dados a banco de dados
def read_from_db():
    c.execute("SELECT * FROM stuffToPlot;")
    #row=c.fetchall()
    for row in c.fetchall():
        print(row)

In [8]:
# Resultado da pesquisa ao banco de dados
read_from_db()

(845526.0, '2016-012-01', 'Python', 10.0)
(185946.0, '2016-012-10', 'Python', 20.0)

In [9]:
# Update um registro em uma tabela de um determinado banco de dados
def db_update():    
    c.execute("update stufftoplot set value = 99 where value=20.0")
    conn.commit()
    c.execute("select * from stuffToPlot")
    [print(row) for row in c.fetchall()]

In [10]:
db_update()

(845526.0, '2016-012-01', 'Python', 10.0)
(185946.0, '2016-012-10', 'Python', 99.0)

In [11]:
# Delete registro em uma tabela de um determinado banco de dados
def db_delete():
    c.execute("DELETE FROM stuffToPlot WHERE value = 99.0")
    conn.commit()
    c.execute("select * from stuffToPlot")
    [print(row) for row in c.fetchall()]

In [12]:
db_delete()

(845526.0, '2016-012-01', 'Python', 10.0)

In [13]:
# Fechar conexão com o banco de dados SQlite
c.close()
conn.close()